@keyframes arrow {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(25%);
  }
  100% {
    transform: translateX(0);
  }
}

:root {
  /* colors */
  --black: #333333;
  --blue: #2d9cdb;
  --red: #eb5757;
  --green: #27ae60;
  --lightgrey: #f2f2f2;
  --mediumgrey: #e0e0e0;
  --darkgrey: #828282;
  /* font sizes */
  --text-extrasmall: 12px;
  --text-small: 14px;
  --text-body: 16px;
  --text-medium: 18px;
  --text-large: 24px;
  --heading-small: 24px;
  --heading-medium: 36px;
  --heading-large: 48px;
  /* font weights */
  --light: 300;
  --regular: 400;
  --medium: 500;
  --bold: 700;
  --thick: 800;
}

body {
  font-family: "Poppins";
  font-size: var(--text-body);
  font-weight: var(--regular);
  line-height: 1.5;
  color: var(--thick);
}

h1,
.h1 {
  font-size: var(--heading-large);
  font-weight: var(--medium);
  line-height: 1.25;
}

h1 {
  margin-top: 0;
  grid-column: 3/8;
}

h2 {
  margin: 40px 0 16px 0;
  grid-column: 3/7;
}

.mobile-nav a {
  text-decoration: none;
  color: var(--black);
  font-size: var(--heading-medium);
  margin-bottom: 24px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 96px;
  padding: 40px 56px;
}

nav span.hamburger {
  display: none;
  cursor: pointer;
  z-index: 10;
}

nav a {
  color: var(--black);
  text-decoration: none;
  font-size: var(--text-large);
  font-weight: var(--medium);
  margin-left: 40px;
  line-height: 1;
}

nav a:not(nav a.logo):hover {
  color: var(--blue);
}

nav a.logo,
footer div.social span {
  font-family: "Heebo";
  font-weight: var(--black);
  font-size: var(--heading-medium);
  margin-left: 0;
}

header,
section,
footer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 24px;
}

header img {
  width: 100%;
  grid-column: 1/13;
  border-radius: 18px;
}

header h5 {
  color: var(--blue);
  grid-column: 3/8;
  margin-bottom: 0;
  font-weight: var(--medium);
  font-size: var(--text-medium);
}

main,
footer {
  padding: 0 56px;
}

section {
  margin-bottom: 200px;
}

section h3 {
  grid-column: 2/6;
  font-size: var(--heading-medium);
  font-weight: var(--medium);
  margin-top: 0;
}

section.contact p,
section.contact form {
  grid-column: 3/7;
  margin: 0 0 16px 0;
}

.input {
  position: relative;
}

.label {
  margin-bottom: 8px;
}

form label {
  font-size: var(--text-small);
  color: var(--darkgrey);
}

.input input {
  width: 100%;
  height: 56px;
  border-radius: 12px;
  background-color: var(--lightgrey);
  border: none;
  padding-left: 16px;
  box-sizing: border-box;
}

.input input[placeholder] {
  font-size: var(--text-medium);
  font-weight: var(--text-medium);
}

.input button {
  position: absolute;
  top: 0;
  right: -4px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  height: 100%;
  background-color: var(--blue);
  color: #fff;
  border: none;
  padding: 16px 32px;
  border-radius: 12px;
  font-size: var(--text-medium);
  font-weight: var(--medium);
  cursor: pointer;
}

.cards-wrapper {
  grid-column: 2/12;
  display: flex;
  justify-content: space-between;
}

section.services .card {
  padding: 48px 32px;
  border-radius: 24px;
}

section.services .card:hover {
  box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
}

section.services .card:hover .button {
  background-color: var(--blue);
  color: #fff;
}

section.services .card h4 {
  font-size: var(--heading-small);
  font-weight: var(--bold);
}

.card p {
  margin-bottom: 32px;
}

section.services .card span {
  display: inline-block;
  padding: 20px;
  border-radius: 16px;
  color: #fff;
}

section.services .card .button {
  color: #fff;
  background-color: var(--mediumgrey);
  color: var(--darkgrey);
  padding: 8px 16px;
  border-radius: 12px;
  text-decoration: none;
  font-size: var(--text-body);
  font-weight: var(--medium);
}

section.services .card:not(:first-child) {
  margin-left: 24px;
}

section.services #card1 span {
  background-color: var(--blue);
}

section.services #card2 span {
  background-color: var(--green);
}

section.services #card3 span {
  background-color: var(--red);
}

section.work {
  gap: 48px 24px;
  justify-items: end;
}

section.work h3 {
  margin: 0;
}

section.work a {
  display: block;
  text-decoration: none;
  color: var(--blue);
  font-size: var(--text-large);
  font-weight: var(--medium);
  grid-column: 10/12;
}

section.work a span {
  display: inline-block;
  vertical-align: middle;
}

section.work a:hover span {
  animation: arrow 1s infinite;
}

section.work .card:nth-child(2n) {
  transform: translateY(25%);
}

section.work .card img {
  display: block;
  border-radius: 24px;
  width: 100%;
  height: auto;
}

section.work .card h4 {
  font-size: var(--heading-small);
  font-weight: var(--medium);
  margin-top: 8px;
}

section.work .card p {
  font-size: var(--text-small);
  font-weight: var(--light);
  color: var(--darkgrey);
  margin-bottom: 0;
}

section.work #card1,
section.work #card3 {
  grid-column: 2/7;
}

section.work #card2,
section.work #card4 {
  grid-column: 7/12;
}

section.team .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-column: 2/5;
}

section.team h5 {
  color: var(--red);
  grid-column: 2/4;
  margin-bottom: 0;
  font-weight: var(--medium);
  font-size: var(--text-medium);
}

section.team p {
  margin: 0;
}

section.team .pictures-grid {
  grid-column: 6/12;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 24px;
  align-items: end;
}

section.team .pictures-grid img {
  border-radius: 24px;
  width: 100%;
  height: auto;
}

section.team .pictures-grid img:first-child,
section.team .pictures-grid img:nth-child(2) {
  grid-column-start: 2;
}

section.team .pictures-grid img:last-child {
  grid-column-start: 1;
  grid-row-start: 1;
  transform: translateY(50%);
}

section.clients blockquote {
  grid-column: 2/10;
  margin: 0;
}

section.clients blockquote p {
  font-size: var(--heading-medium);
  font-weight: var(--medium);
}

blockquote p::before {
  content: "\201C";
}

blockquote p::after {
  content: "\201D";
}

section.clients .client {
  grid-column: 2/6;
  display: flex;
}

section.clients .client img {
  width: 100px;
  height: 100px;
  border-radius: 12px;
  margin-right: 24px;
}

section.clients .client p {
  font-size: var(--text-medium);
  font-weight: var(--medium);
  color: var(--darkgrey);
}

section.clients .client h5 {
  font-size: var(--heading-small);
  font-weight: var(--medium);
  margin: 0;
}

footer {
  width: 100vw;
  color: #fff;
  background-color: var(--black);
  padding-top: 48px;
  box-sizing: border-box;
}

footer nav {
  display: block;
  grid-column: 2/3;
  padding: 0;
}

footer nav a {
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: var(--text-medium);
  font-weight: var(--regular);
  line-height: 1.5;
  margin-left: 0;
}

footer nav a:hover {
  color: #fff;
  text-decoration: underline;
}

footer div.social {
  grid-column: 5/7;
}

footer div.social a {
  text-decoration: none;
  display: inline-block;
  margin-bottom: 0;
  margin-right: 4px;
  font-size: var(--text-large);
  color: #fff;
}

footer form {
  grid-column: 8/12;
}

footer form label {
  color: #fff;
}

footer p {
  grid-column: 1/13;
  text-align: center;
  font-size: var(--text-small);
  font-weight: var(--medium);
}

footer p a {
  color: #fff;
}

@media (max-width: 1300px) {
  section h3,
  header h1,
  .h1,
  header h5,
  section.contact p,
  section.contact form {
    grid-column: 2/10;
  }
}

@media (max-width: 1165px) {
  section h3,
  header h1,
  .h1,
  header h5,
  section.contact p,
  section.contact form {
    grid-column: 1/7;
  }
  .cards-wrapper {
    grid-column: 1/13;
  }
  section.work #card1,
  section.work #card3 {
    grid-column: 1/7;
  }
  section.work #card2,
  section.work #card4 {
    grid-column: 7/13;
  }
  section.team .text,
  section.team h5 {
    grid-column: 1/6;
  }
  section.team .pictures-grid {
    grid-column: 7/13;
  }
  section.clients blockquote {
    grid-column: 1/9;
  }
  section.clients .client {
    grid-column: 1/5;
  }
  footer nav {
    grid-column: 1/2;
  }
  footer div.social {
    grid-column: 4/6;
  }
  footer form {
    grid-column: 7/12;
  }
}
@media (max-width: 1015px) {
  h1,
  .h1 {
    font-size: var(--heading-medium);
  }
  nav {
    margin-bottom: 56px;
  }
  nav a,
  section.work a {
    font-size: var(--text-regular);
  }
  section h3,
  section.clients blockquote p {
    font-size: var(--heading-small);
  }
  section.services .card h4 {
    font-size: var(--text-medium);
  }
  section.clients .client {
    grid-column: 1/8;
  }
  section.clients .client img {
    width: 80px;
    height: 80px;
  }
  section.clients .client h5 {
    font-size: var(--text-medium);
  }
  section.clients .client p {
    font-size: var(--text-regular);
  }
  section {
    margin-bottom: 100px;
  }
  footer form {
    grid-column: 7/13;
  }
}
@media (max-width: 900px) {
  section h3,
  header h1,
  .h1,
  header h5,
  section.contact p,
  section.contact form {
    grid-column: 1/8;
  }
  section.services .cards-wrapper {
    grid-column: 3/11;
    flex-direction: column;
  }
  section.services .cards-wrapper .card {
    margin-left: 0;
  }
  section.work a {
    grid-column: 10/13;
  }
  footer div.social {
    grid-column: 10/13;
  }
  footer form {
    grid-column: 1/8;
  }
}
@media (max-width: 768px) {
  header h1,
  .h1,
  header h5,
  section.contact p,
  section.contact form,
  section.clients blockquote {
    grid-column: 1/11;
  }
  nav span.hamburger {
    display: block;
  }
  nav .nav-links {
    transform: translateY(-110%);
    transition: transform 0.5s ease;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 48px;
    box-sizing: border-box;
    background: #fff;
    z-index: 1;
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: var(--text-large);
  }
  nav a {
    line-height: 1.5;
    margin: 0 0 16px 0;
  }
  nav .nav-links.open {
    transform: translateY(0%);
  }
}
@media (max-width: 650px) {
  header h1,
  .h1,
  header h5,
  section h3,
  section.contact p,
  section.contact form,
  section.clients blockquote,
  footer form {
    grid-column: 1/13;
  }
  nav {
    padding: 24px 40px;
    margin-bottom: 48px;
  }
  main,
  footer {
    padding: 24px 40px;
  }
  section.services .cards-wrapper {
    grid-column: 2/12;
  }
}
@media (max-width: 582px) {
  header,
  section,
  footer {
    gap: 16px;
  }
  nav {
    padding: 16px 24px;
    margin-bottom: 40px;
  }
  main,
  footer {
    padding: 16px 24px;
  }
  section {
    margin-bottom: 48px;
  }
  section.contact .input input {
    height: 48px;
  }
  .input button {
    font-size: var(--text-small);
  }
  section.services .cards-wrapper,
  section.work #card1,
  section.work #card3,
  section.work #card2,
  section.work #card4 {
    grid-column: 1/13;
  }
  section.work .card:nth-child(2n) {
    transform: translateY(0);
  }
  section.work .card p {
    font-size: var(--text-extrasmall);
  }
  section.work .card h4 {
    font-size: var(--text-medium);
  }
  section.work {
    justify-items: start;
    gap: 16px;
  }
  section.work h3 {
    margin-bottom: 24px;
  }
  section.work a {
    grid-column: 1/6;
  }
  section.team .text,
  section.team .pictures-grid,
  section.clients .client {
    grid-column: 1/13;
  }
  footer nav {
    margin-top: 24px;
  }
  footer div.social {
    grid-column: 1/13;
    margin-bottom: 24px;
  }
  footer form {
    margin-bottom: 24px;
  }
}
@media (max-width: 450px) {
  h1,
  .h1 {
    font-size: var(--heading-small);
  }
  header h5,
  section.contact p,
  section.contact form label {
    font-size: var(--text-extrasmall);
  }
}
